/* this css file will only style the homepage of our site */

.halloweenpic {
  display: block;
margin-left: auto;
margin-right: auto;
width: 35%;
}

body {
  background-color: #484e79;
  margin: 0px;
  border-width: 15px;
  border-color: #093d4e;
  border-style: groove;
  /* height: 100vh; */
  box-sizing: border-box;
  }

  /* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: sans-serif;
  color: white;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
  color: white;
}

p {
  color: white;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #888;
  background-color: #2e7552;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #09898a;
}